.info{
    font-family: 'Tomorrow', sans-serif;
    color: white;
    font-size: 30px;
    margin-top: 100px;
}

body {
	background: linear-gradient(60deg, #2d2359, #ff8e8e, #ff8e8e,#fdfdff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.statement img{
    margin-bottom: 100px;
    z-index: 100;
    position: fixed;
    width: 300px;
  
      -webkit-animation: spin1 5s infinite linear;
      -moz-animation: spin1 5s infinite linear;
      -o-animation: spin1 5s infinite linear;
      -ms-animation: spin1 5s infinite linear;
      animation: spin1 5s infinite linear;
          display: block;

  }
  @-webkit-keyframes spin1 {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
    }
    @-moz-keyframes spin1 {
    0% { -moz-transform: rotate(0deg);}
    100% { -moz-transform: rotate(360deg);}
    }
    @-o-keyframes spin1 {
    0% { -o-transform: rotate(0deg);}
    100% { -o-transform: rotate(360deg);}
    }
    @-ms-keyframes spin1 {
    0% { -ms-transform: rotate(0deg);}
    100% { -ms-transform: rotate(360deg);}
    }
    @-keyframes spin1 {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
    } 