/**  ========================================================================== 

This is where your custom styles begin. 

==========================================================================  */

/* Split the screen in half */



/* Split the screen in half */



.baslık:hover {
  font-style: italic;
}

.title:hover {
  font-style: italic;
}

.baslık {
  padding-left: 550px;
}

.p1:hover{
  text-shadow: 2px 2px;
  font-style: normal;
}
.p2:hover{
  text-shadow: 2px 2px; 
  font-style: normal;
}
.p3:hover{
  text-shadow: 2px 2px;
  font-style: normal;
}
.o1:hover{
  text-shadow: 2px 2px;
  font-style: normal;
}
.o2:hover{
  text-shadow: 2px 2px; 
  font-style: normal;
}
.o3:hover{
  text-shadow: 2px 2px;
  font-style: normal;
}
.p1 {
  text-decoration: underline; 
  font-style: italic;
  font-weight: lighter;
  padding-left: 100px;
 font-size: 30px;
 margin-top: 150px;
}
.p2 {
  text-decoration: underline;
  font-style: italic;
  font-weight: lighter;
  padding-left: 100px;
 font-size: 30px;
 margin-top: 130px;


}
.p3 {
  text-decoration: underline;
  font-style: italic;
  font-weight: lighter;
  padding-left: 100px;
 font-size: 30px;
 margin-top: 130px;
}
.o1 {
  text-decoration: underline;
  font-style: italic;
  font-weight: lighter;
  padding-right: 200px;
 font-size: 30px;
 margin-top: 150px;
}
.o2 {
  text-decoration: underline;
  font-style: italic;
  font-weight: lighter;
  padding-right: 200px;
 font-size: 30px;
 margin-top: 130px;
}
.o3 {
  text-decoration: underline;
  font-style: italic;
  font-weight: lighter;
  padding-right: 200px;
 font-size: 30px;
 margin-top: 130px;
}

.split {
    
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    
  }
  

  .logo {
    
    position: fixed; 
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
  }
 .logo img {
   width: 300px
   display: block;
    -webkit-animation: spin1 5s infinite linear;
    -moz-animation: spin1 5s infinite linear;
    -o-animation: spin1 5s infinite linear;
    -ms-animation: spin1 5s infinite linear;
    animation: spin1 5s infinite linear;
 }

 .statement {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  top: 200px;
}
.statement img {
  width: 300px;
  display: block;
  margin: 0;
  /* margin-left: 510px; */
    -webkit-animation: spin1 5s infinite linear;
    -moz-animation: spin1 5s infinite linear;
    -o-animation: spin1 5s infinite linear;
    -ms-animation: spin1 5s infinite linear;
    animation: spin1 5s infinite linear;
        display: block;
}
  /* Control the left side */
  .left {
    float: left;
    padding-left: 20px;
    font-family: 'Tomorrow', sans-serif;
    color: white;
    left: 0;
    background: linear-gradient(60deg, #692f73, #9caaff, #fffefe);
    background-size: 600% 600%;
    -o-animation: LeftAnimation 9s ease infinite;
    animation: LeftAnimation 9s ease infinite;
    
    
  }
  @-o-keyframes LeftAnimation {
    0% {
      background-position: 70% 0%;
    }
    50% {
      background-position: 31% 100%;
    }
    100% {
      background-position: 70% 0%;
    }
  }
  @keyframes  LeftAnimation{
    0% {
      background-position: 70% 0%;
    }
    50% {
      background-position: 31% 100%;
    }
    100% {
      background-position: 70% 0%;
    }
  }


  .right {
    margin: auto;
    float: right; 
    padding-right: 20px;
    font-family: 'Tomorrow', sans-serif;
    color: white;
    right: 0;
    background: linear-gradient(60deg, #2d2359, #ff8e8e, #fdfdff);
    background-size: 600% 600%;
    -o-animation: RightAnimation 15s ease infinite;
    animation: RightAnimation 15s ease infinite;
    
    
  }
  @-o-keyframes RightAnimation {
    0% {
      background-position: 70% 0%;
    }
    50% {
      background-position: 31% 100%;
    }
    100% {
      background-position: 70% 0%;
    }
  }
  @keyframes  RightAnimation{
    0% {
      background-position: 70% 0%;
    }
    50% {
      background-position: 31% 100%;
    }
    100% {
      background-position: 70% 0%;
    }
  }

  


  }
  
  